apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: job-posting-service
  namespace: argocd
  labels:
    cluster: talent-recruitment-cluster
    component: job-posting
spec:
  project: talent-recruitment
  source:
    repoURL: https://github.com/PROD-B2B-GGJ-Platform/job-posting-service
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: talent-recruitment-cluster
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

